<h1>The World Country info: <h1>

<h1>Enter the name of a country: <h1>

<form action="/country" method="post">
      <label for="countryName">Search for a country:</label>
      <input id="countryName" name="countryName" type="text">
      <button type="submit">Submit</button>
    </form>



   @foreach(var country in Model)
      {
        <ul>
          <li>Name:@country.GetCountryName()</li>
          <li>Population:@country.GetPopulation()</li>
        </ul>
      }