<h1>The World Country info: <h1>

<h1>Enter the name of a country: <h1>

<form action="/country" method="post">
      <label for="countryName">Search for a country:</label>
      <input id="countryName" name="countryName" type="text">
      <button type="submit">Submit</button>
</form>

<h1>Only show countries with a population size greater than: <h1>
<form action="/countryMinPopulation" method="post">
      <label for="countryMin">Minimum population size:</label>
      <input id="countryMin" name="countryMin" type="text">
      <button type="submit">Submit</button>
</form>

<h1>Only show countries with a population size less than: <h1>
<form action="/countryMaxPopulation" method="post">
      <label for="countryMax">Maximun population size:</label>
      <input id="countryMax" name="countryMax" type="text">
      <button type="submit">Submit</button>
</form>
